*{
    font-family: "Comfortaa", sans-serif;
  }
  .pokemon-detail-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    margin: 30px auto;
    text-align: center; 
  }
  
  .pokemon-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .stat-bar {
    padding: 15px;
  }
  
  .stat-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .stat-value {
    font-weight: bold;
    color: #333;
  }
  
  .bar-container {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 8px;
    overflow: hidden;
  }
  
  .stat-bar-fill {
    background-color: #ff0022;
    height: 100%;
    color: white;
    text-align: right;
    padding-right: 10px;
    line-height: 8px;
  }
  
  .back-button {
    background-color: #5281cc;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #4368a0;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .info-item img {
    width: 24px;
    height: auto;
    margin-right: 10px;
  }
  
  .info-item p {
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  .pokemon-detail-container h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2.5rem; 
    color: #ffdd00;
    text-transform: uppercase;
    text-shadow: -5px 0 rgb(0, 84, 210), 0 3px rgb(0, 84, 210), 3px 0 rgb(0, 84, 210), 0 -5px rgb(0, 84, 210);
  }