.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f8ff;
  padding: 20px;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
}

.title {
  font-size: 3rem;
  color: #2c3e50;
  margin-bottom: 20px;
  font-family: "Comfortaa", sans-serif;
}

.description {
  font-size: 1.2rem;
  color: #34495e;
  margin-bottom: 30px;
}

.link {
  font-size: 1.1rem;
  color: #3498db;
  text-decoration: none;
  border: 2px solid #3498db;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.link:hover {
  background-color: #3498db;
  color: #fff;
}
